<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Getting Started Service Web Content</title>
</head>
<body>
<form action="#" th:action="@{cns}" th:object="${school}" method="post">
    <table border="1">
        <tr>
            <td>School name</td>
            <td><input type="text" th:field="${school.name}" /></td>
        </tr>
        <tr>
            <td>School street</td>
            <td><input type="text" th:field="${school.street}" /></td>
        </tr>
<!--        @Id-->
<!--        @GeneratedValue(strategy = GenerationType.IDENTITY)-->
<!--        private Long id;-->
<!--        private String name;-->
<!--        private String street;-->
<!--        @OneToMany(mappedBy = "school")-->
<!--        private List<Student> studentList = new ArrayList<>();-->
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
</body>
</html>