<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Getting Started Service Web Content</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<table class="table table-striped">
    <thead>
    <tr>
        <th>name</th>
        <th>debt</th>
        <th>timeOfDebt</th>
        <th>reasonForTheDebt</th>
    </tr>
    </thead>
    <tr th:each="oneDebtor : ${debtors}">
        <td th:text="${oneDebtor.name}"></td>
        <td th:text="${oneDebtor.debt}"></td>
        <td th:text="${oneDebtor.timeOfDebt}"></td>
        <td th:text="${oneDebtor.reasonForTheDebt}"></td>
    </tr>
</table>
</div>
<form th:action="@{/main-view}" method="GET">
    <input type="submit" class="btn btn-primary btn-block" value="Go back to main view"/>
</form>
</body>
</html>