<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Getting Started Service Web Content</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script type="text/javascript" src="/js/currency_script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1 align="center"> List of debts </h1>

    <div th:replace="nav.html :: body"></div>

    <div class="dropdown">
        <div class="btn-group dropleft btn-block">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose Currency
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                <a th:each="currencyType : ${currencyTypes}">
                    <li><a class="dropdown-item" th:href="@{'/debtor-details-list?currency=' +
                    ${currencyType.toString()}}" th:text="${currencyType.toString()}"></p></a></li>
                </a>
            </ul>
        </div>
    </div>
    <br>
    <input class="form-control" id="tableFilterInput" type="text" placeholder="Search from list">
    <br>

    <table class="table table-striped" data-toggle="table">
        <thead>
        <tr>
            <th data-sortable="true">name</th>
            <th data-sortable="true">debt</th>
            <th>currency</th>
            <th data-sortable="true">date</th>
            <th data-sortable="true">end date</th>
            <th data-sortable="true">total count of seconds</th>
            <th data-sortable="true">timer</th>
            <th data-sortable="true">reasonForTheDebt</th>
            <th>Add</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody id="tableFilter">
        <tr th:each="oneDebtor, iter : ${debtorLIST}">
            <td th:text="${oneDebtor.name}"></td>
            <td th:text="${oneDebtor.debt}"></td>
            <td th:text="${currency}"></td>
            <td th:text="${oneDebtor.date}"></td>
            <td th:text="${oneDebtor.debtEndDateString}"></td>
            <td th:text="${oneDebtor.totalCountOfSeconds}"></td>
            <td th:id="${iter.index}" th:text="${iter.index}"></td>
            <td th:text="${oneDebtor.reasonForTheDebt}"></td>
            <td>
                <a class="btn btn-success btn-lg" th:href="@{'/make-new-debtor-details?name=' + ${oneDebtor.name}}">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </a>
            </td>
            <td>
                <a class="btn btn-info btn-lg"
                   th:href="@{'/debtor-details-debt-edit?id=' + ${oneDebtor.id}}">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </a>
            </td>
            <td>
                <a class="btn btn-danger btn-lg" th:href="@{'/debtor-details-delete?id=' + ${oneDebtor.id}}">
                    <span class="glyphicon glyphicon-remove"></span>Delete
                </a>
            </td>
        </tr>
        <p hidden th:id="countOfRows" th:text="${debtorLIST.size()}"></p>
        </tbody>
    </table>
</div>

<p id="demo"></p>

<script>
    $(document).ready(function(){
        filterCurrencyDropDown();
        filterTable();
        var timerFields = [];
        var i;
        for (i = 0; i < document.getElementById("countOfRows").textContent; i++) {
            timerFields.push(i);
        }
        timmerList(timerFields, 1000);
    });
    // var s = 1000;
    // var deadline = new Date("Jan 5, 2020 15:37:25").getTime();
    // var x = setInterval(function() {
    //
    //     var numberOfDays = Math.floor(s / 86400);
    //     var numberOfHours = Math.floor((s % 86400 ) / 3600) ;
    //     var numberOfMinutes = Math.floor(((s % 86400 ) % 3600 ) / 60);
    //     var numberOfSeconds = Math.floor(((s % 86400 ) % 3600 ) % 60);
    //
    //     document.getElementById("2").innerHTML = numberOfDays + "d "
    //         + numberOfHours + "h " + numberOfMinutes + "m " + numberOfSeconds + "s ";
    //     if (s < 0) {
    //         clearInterval(x);
    //         document.getElementById("2").innerHTML = "EXPIRED";
    //     }
    //     s--;
    // }, 10);
</script>

</body>
</html>