<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Getting Started Service Web Content</title>
</head>
<body>
<form action="#" th:action="@{debtor-save}" th:object="${debtor}" method="post">
    <table border="1">
        <tr>
            <td>Campaign Name</td>
            <td><input type="text" th:field="${debtor.name}" /></td>
        </tr>
        <tr>
            <td>Add new debt value</td>
            <td><input type="text" th:field="${debtor.debt}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
</body>
</html>