<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Getting Started Service Web Content</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!--<style>-->
        <!--/* Style the input field */-->
        <!--#myInput {-->
            <!--padding: 20px;-->
            <!--margin-top: -6px;-->
            <!--border: 0;-->
            <!--border-radius: 0;-->
            <!--background: #f1f1f1;-->
        <!--}-->
    <!--</style>-->

</head>
<body>
<div class="container">
    <h1 align="center"> Debtors </h1>

    <div th:replace="nav.html :: body"></div>

    <form th:action="@{/debtor-create}" method="GET">
        <input type="submit" class="btn btn-success btn-block" style="margin-bottom: 10px" value="Create Debtor"/>
    </form>

    <div class="dropdown">
        <div class="btn-group dropleft">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose Currency
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                <a th:each="currencyType : ${currencyTypes}">
                    <li><a class="dropdown-item" th:href="@{'/debtor-list?currency=' + ${currencyType.toString()}}" th:text="${currencyType.toString()}"></p></a></li>
                </a>
            </ul>
        </div>
    </div>

    <table class="table table-striped">
        <tr>
            <td>Name</td>
            <td>Total Debt</td>
            <td>Add New Debt</td>
            <td>Edit</td>
        </tr>
        <tr th:each="oneDebtor : ${debtors}">
            <td th:text="${oneDebtor.name}"></td>
            <td th:text="${oneDebtor.totalDebt}"></td>
            <td>
                <a class="btn btn-success btn-lg" th:href="@{'/make-new-debtor-details?name=' + ${oneDebtor.name}}">
                    <span class="glyphicon glyphicon-plus"></span> Add Debt
                </a>
            </td>
            <td>
                <a class="btn btn-info btn-lg"
                   th:href="@{'/debtor-debt-edit?id=' + ${oneDebtor.id} + '&name=' + ${oneDebtor.name}}">
                    <span class="glyphicon glyphicon-pencil"></span>Edit
                </a>
            </td>
        </tr>
    </table>
</div>

<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $(".dropdown-menu li").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>


</body>
</html>