<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Getting Started Service Web Content</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1> DEBTOR LIST </h1>
<table class="table table-striped">
    <tr>
        <td>Name</td>
        <td>Total Debt</td>
        <td>Add New Debt</td>
        <td>Edit</td>
<!--        <td>Delete</td>-->
    </tr>
    <tr th:each="oneDebtor : ${debtors}">
        <td th:text="${oneDebtor.name}"></td>
        <td th:text="${oneDebtor.totalDebt}"></td>
        <td>
            <a class="btn btn-success btn-lg" th:href="@{'/make-new-debtor-details?name=' + ${oneDebtor.name}}">
                <span class="glyphicon glyphicon-plus"></span> Add Debt
            </a>
        </td>
        <td>
            <a class="btn btn-info btn-lg" th:href="@{'/debtor-debt-edit?id=' + ${oneDebtor.id} + '&name=' + ${oneDebtor.name}}">
                <span class="glyphicon glyphicon-pencil"></span>Edit
            </a>
        </td>
<!--        <td>-->
<!--            <a class="btn btn-danger btn-lg" th:href="@{'/debtor-delete?id=' + ${oneDebtor.id} + '&name=' + ${oneDebtor.name}}">-->
<!--                <span class="glyphicon glyphicon-remove"></span>Delete-->
<!--            </a>-->
<!--        </td>-->
    </tr>
</table>
<form th:action="@{/debtor-create}" method="GET">
    <input type="submit" class="btn btn-success btn-block" style="margin-bottom: 10px" value="Create Debtor"/>
</form>
</div>
<form th:action="@{/main-view}" method="GET">
    <input type="submit" class="btn btn-primary btn-block" value="Go back to main view"/>
</form>
</body>
</html>