<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Getting Started Service Web Content</title>
</head>
<body>
<table style="border:1px solid green">
    <tr>
        <td>name</td>
        <td>id</td>
        <td>debt</td>
        <td>timeOfDebt</td>
        <td>reasonForTheDebt</td>
        <td>userName</td>
    </tr>
    <tr th:each="oneDebtor : ${debtors}">
        <td th:text="${oneDebtor.name}"></td>
        <td th:text="${oneDebtor.id}"></td>
        <td th:text="${oneDebtor.debt}"></td>
        <td th:text="${oneDebtor.timeOfDebt}"></td>
        <td th:text="${oneDebtor.reasonForTheDebt}"></td>
        <td th:text="${oneDebtor.userName}"></td>
    </tr>
</table>
</body>
</html>