<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Getting Started Service Web Content</title>
</head>
<body>
<form action="#" th:action="@{make-new-debtor}" th:object="${debtor}" method="post">
    <table border="1">
        <tr>
            <td>Debtor name</td>
            <td><input type="text" th:field="${debtor.name}" /></td>
        </tr>
        <tr>
            <td>Debt value</td>
            <td><input type="text" th:field="${debtor.debt}" /></td>
        </tr>
        <tr>
            <td>Reason for the debt</td>
            <td><input type="text" th:field="${debtor.reasonForTheDebt}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
<form th:action="@{/main-view}" method="GET">
    <input type="submit" value="Go back to main view"/>
</form>
</body>
</html>