<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Getting Started Service Web Content</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<form action="#" th:action="@{'/debtor-save?id=' + ${id}}" th:object="${debtor}" method="post">
    <p>
        Add new debt value to : <span th:text="${debtor.name}"></span>
    </p>
    <p>
        Actual debt : <span th:text="${debtor.debt}"></span>
    </p>

    <div class="form-group">
        <label for="DebtValue">Enter how much money you want to add :</label>
        <td><input type="text" class="form-control" id="DebtValue" th:field="${debtor.debt}"/></td>
    </div>
    <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" style="margin-bottom: 10px" class="btn btn-primary">Submit</button>
</form>
</div>
<form th:action="@{/main-view}" method="GET">
    <input type="submit" class="btn btn-primary btn-block" value="Go back to main view"/>
</form>

<div>
<!--    Registration closes in <span id="timer">05:00<span> minutes!-->
<!--    Registration closes in <p id="timer">05:00</p> minutes!-->
</div>
<div id="r"></div>
<p>Hi Ho : </p>
<p id="testJS">3</p>
<div>Registration closes in <span id="time"></span> minutes!</div>

<script>
    // $(document).ready(function() {

        // window.onload = function () {
        //     var start = Date.now(), r = document.getElementById('r');
        //     (function f() {
        //         var diff = Date.now() - start, ns = (((3e5 - diff) / 1000) >> 0), m = (ns / 60) >> 0, s = ns - m * 60;
        //         r.textContent = "Registration closes in " + m + ':' + (('' + s).length > 1 ? '' : '0') + s + ' minutes';
        //         if (diff > (3e5)) {
        //             start = Date.now()
        //         }
        //         setTimeout(f, 1000);
        //     })();
        // }

    function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        setInterval(function () {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (--timer < 0) {
                timer = duration;
            }
        }, 1000);
    }

    window.onload = function () {
        var testJs = document.getElementById("testJS").textContent;
        var fiveMinutes = 60 * testJs,
            display = document.querySelector('#time');
        startTimer(fiveMinutes, display);
    };

    // });
</script>

</body>
</html>