<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Getting Started Service Web Content</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<table class="table table-striped">
    <thead>
    <tr>
        <th>name</th>
        <th>debt</th>
        <th>date</th>
        <th>reasonForTheDebt</th>
        <th>Add</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tr th:each="oneDebtor : ${debtorLIST}">
        <td th:text="${oneDebtor.name}"></td>
        <td th:text="${oneDebtor.debt}"></td>
        <td th:text="${oneDebtor.date}"></td>
        <td th:text="${oneDebtor.reasonForTheDebt}"></td>
        <td>
            <a class="btn btn-success btn-lg" th:href="@{'/make-new-debtor-details?name=' + ${oneDebtor.name}}">
                <span class="glyphicon glyphicon-plus"></span> Add
            </a>
        </td>
        <td>
            <a class="btn btn-info btn-lg" th:href="@{'/debtor-details-debt-edit?id=' + ${oneDebtor.id} + '&name=' + ${oneDebtor.name}}">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </a>
        </td>
        <td>
            <a class="btn btn-danger btn-lg" th:href="@{'/debtor-details-delete?id=' + ${oneDebtor.id}}">
                <span class="glyphicon glyphicon-remove"></span>Delete
            </a>
        </td>
    </tr>
</table>
    <form th:action="@{/make-new-debtor-details}" method="GET">
        <input type="submit" class="btn btn-success btn-block" style="margin-bottom: 10px" value="Add new debtorDetails"/>
    </form>
</div>
<form th:action="@{/main-view}" method="GET">
    <input type="submit" class="btn btn-primary btn-block" style="margin-bottom: 10px" value="Go back to main view"/>
</form>
</body>
</html>