<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Getting Started Service Web Content</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 align="center">Delete debt</h1>
    <div th:replace="nav.html :: body"></div>
    <div id="centerButton">
        <td>
            <a class="btn btn-success btn-lg" th:href="@{debtor-details-list}">
                <span class="glyphicon glyphicon-plus"></span> Go Back
            </a>
        </td>
        <td>
            <a class="btn btn-danger btn-lg" method="post" th:href="@{'/debtor-details-delete-by-id?id=' + ${id}}">
                <span class="glyphicon glyphicon-remove"></span>Delete
            </a>
        </td>
    </div>
</div>
</body>
</html>