<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Getting Started Service Web Content</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Hello on DEFAULT VIEW</h1>
    <div sec:authorize="isAuthenticated()">
        <div th:replace="nav.html :: body"></div>
    </div>

    <form th:action="@{/main-view}" method="GET">
        <input type="submit" class="btn btn-primary btn-block" style="margin-bottom: 10px" value="Login"/>
    </form>
    <form th:action="@{/create-new-user}" method="GET">
        <input type="submit" class="btn btn-primary btn-block" style="margin-bottom: 10px" value="Create Account"/>
    </form>

    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/main-view}" method="GET">
            <input type="submit" class="btn btn-primary btn-block" style="margin-bottom: 10px" value="Main View"/>
        </form>

        <form th:action="@{/logout}" method="GET">
            <input type="submit" class="btn warning btn-block" style="margin-bottom: 10px" value="Logout"/>
        </form>
    </div>
</div>
</body>
</html>