<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Getting Started Service Web Content</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 align="center">Friend List</h1>
    <div th:replace="nav.html :: body"></div>

    <form action="#" th:action="@{save-new-friend}" th:object="${debtorUserDTO}" method="post">
        <div class="form-group">
            <label for="DebtorName">DebtorUser name :</label>
            <td><input type="text" class="form-control" id="DebtorName" th:field="${debtorUserDTO.name}"/></td>
            <!--<td th:errors="${debtorUserDTO.name}" th:if="${#fields.hasErrors('name')}">name debt</td>-->
        </div>
        <button type="submit" class="btn btn-primary" style="margin-bottom: 10px">Submit</button>
    </form>
</div>
</body>
</html>