<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 align="center">Friend List</h1>
        <div th:replace="nav.html :: body"></div>
        <form th:action="@{/create-new-friend}" method="GET">
            <input type="submit" class="btn btn-success btn-block" style="margin-bottom: 10px" value="Add new friend"/>
        </form>
        <table class="table table-striped" data-toggle="table">
            <thead>
            <tr>
                <th>Invites to friend list</th>
            </tr>
            </thead>
            <tbody id="tableFilterInvites">
            <tr th:each="oneFriend, iter : ${debtorUserInvitesSet}">
                <td th:text="${oneFriend.getUserName()}"></td>
                <td>
                    <form method="POST" th:action="@{'/add-to-friend-list?id=' + ${oneFriend.getUserId()}}">
                        <button type="submit"  class="glyphicon glyphicon-plus" ></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <table class="table table-striped" data-toggle="table">
            <thead>
            <tr>
                <th>debtor friend name</th>
            </tr>
            </thead>
            <tbody id="tableFilter">
            <tr th:each="oneFriend, iter : ${debtorUserFriendsSet}">
                <td th:text="${oneFriend.name}"></td>
            </tr>
            <tr th:each="oneFriendOf, iter : ${debtorUserFriendOfSet}">
                <td th:text="${oneFriendOf.name}"></td>
            </tr>
            </tbody>
        </table>

    </div>

</body>
</html>
