<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Getting Started Service Web Content</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>HELLO <span th:text="${user.name}"></span></h1>
    <h2>Person with biggest debt : <span th:text="${debtorWithBiggestDebt.getName()}"></span> owes you <span th:text="${debtorWithBiggestDebt.getTotalDebt()}"></span></h2>
    <h2>Person with the most debts : <span th:text="${debtorWithHighestCountOfDebts.getName()}"></span> has <span th:text="${debtorWithHighestCountOfDebts.getCountOfDebts()}"></span> debts </h2>
    <form th:action="@{/debtor-details-list}" method="GET">
        <input type="submit" class="btn btn-primary btn-block" style="margin-bottom: 10px" value="Show Debtor details list"/>
    </form>
    <form th:action="@{/debtor-history-list}" method="GET">
        <input type="submit" class="btn btn-primary btn-block" style="margin-bottom: 10px" value="Show Debtor history list"/>
    </form>
    <form th:action="@{/debtor-list}" method="GET">
        <input type="submit" class="btn btn-info btn-block" style="margin-bottom: 10px" value="Show Debtor list"/>
    </form>
    <form th:action="@{/logout}" method="GET">
     <input type="submit" class="btn warning btn-block" style="margin-bottom: 10px" value="Logout"/>
    </form>
</div>
</body>
</html>