<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <a class="navbar-brand" href="/main-view">DebtApp</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/main-view">Main View</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/default-view">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/debtor-details-list">Debts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/debtor-list">Debtors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/debtor-history-list">History of debts </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Dropdown link
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/default-view">Home</a>
                <a class="dropdown-item" href="/debtor-details-list">Debts</a>
                <a class="dropdown-item" href="/debtor-list">Debtors</a>
                <a class="dropdown-item" href="/debtor-history-list">History of debts</a>
            </div>
        </li>
    </ul>
</nav>
<br>
</body>
</html>
