<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Getting Started Service Web Content</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script type="text/javascript" src="/js/currency_script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <h1 align="center">Friend List</h1>
        <div th:replace="nav.html :: body"></div>

        <table class="table table-striped" data-toggle="table">
            <thead>
            <tr>
                <th>Invites to friend list</th>
            </tr>
            </thead>
            <tbody id="tableFilterInvites">
            <tr th:each="oneFriend, iter : ${debtorUserInvitesSet}">
                <td th:text="${oneFriend.name}"></td>
                <td>
                    <form method="POST" th:action="@{'/add-to-friend-list?id' + ${oneFriend.id}}">
                        <button type="submit"  class="glyphicon glyphicon-plus" ></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <table class="table table-striped" data-toggle="table">
            <thead>
            <tr>
                <th>debtor friend name</th>
            </tr>
            </thead>
            <tbody id="tableFilter">
            <tr th:each="oneFriend, iter : ${debtorUserFriendsSet}">
                <td th:text="${oneFriend.name}"></td>
            </tr>
            </tbody>
        </table>

    </div>

</body>
</html>
